<div class="row">
  <%= form_tag(save_order_shipping_address_url, method: :post) do %>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <%= label_tag :name, nil, class: 'control-label' %>
      <%= text_field_tag 'shipping_address[name]', @shipping_address.fetch('name', nil), class: 'form-control', placeholder: 'Enter Name Here' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <%= label_tag :address1, nil, class: 'control-label' %>
      <%= text_field_tag 'shipping_address[address1]', @shipping_address.fetch('address1', nil), class: 'form-control', placeholder: 'Enter address1 Here' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <%= label_tag :address2, nil, class: 'control-label' %>
      <%= text_field_tag 'shipping_address[address2]', @shipping_address.fetch('address2', nil), class: 'form-control', placeholder: 'Enter address2 Here' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <%= label_tag :city, nil, class: 'control-label' %>
      <%= text_field_tag 'shipping_address[city]', @shipping_address.fetch('city', nil), class: 'form-control', placeholder: 'Enter city Here' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <%= label_tag :state, nil, class: 'control-label' %>
      <%= text_field_tag 'shipping_address[state]', @shipping_address.fetch('state', nil), class: 'form-control', placeholder: 'Enter state Here' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <%= label_tag :country, nil, class: 'control-label' %>
      <%= text_field_tag 'shipping_address[country]', @shipping_address.fetch('country', nil), class: 'form-control', placeholder: 'Enter country Here' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <%= label_tag :phone, nil, class: 'control-label' %>
      <%= text_field_tag 'shipping_address[phone]', @shipping_address.fetch('phone', nil), class: 'form-control', placeholder: 'Enter phone Here' %>
    </div>
  </div>

  <%= submit_tag 'Save', class: "btn btn-sm btn-primary" %>
  <% end %>
</div>