<div class="page-header">
  <h1>Edit Order <%= @order.id %> Status</h1>
</div>

<section class="content">
  <div class="row">
    <%= form_tag(update_order_status_url, method: :put) do %>
    <div class="form-group">
      <div class="input-group input-group-sm">
        <%= label_tag :status, nil, class: 'control-label' %>
        <%= select_tag 'status', options_for_select(@statuses), class: 'form-control' %>
      </div>
    </div>
    <%= submit_tag 'Save', class: "btn btn-sm btn-primary" %>
    <% end %>
  </div>
</section>