<div class="page-header">
  <h1>Your Shopping Cart Items</h1>
</div>

<div class="row">
  <%= form_tag(cart_item_batch_process_url, method: :post) do %>
  <% if flash[:notice] %>
  <p class="text-danger"><%= flash[:notice] %></p>
  <% end %>
  <div class="form-group clearfix">
    <div class="pull-right">
      <a href="<%= products_url %>" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span> Go Shopping
      </a>
      <%= button_tag(name: 'checkout-btn', class: 'btn btn-success') do %>
        <span class="glyphicon glyphicon-shopping-cart"></span> Checkout
      <% end %>
      <%= button_tag(name: "delete-btn", data: { confirm: "Are you sure to delete these items?" }, class: 'btn btn-danger') do %>
        <span class="glyphicon glyphicon-trash"></span> Delete
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <input type="checkbox" name="select-all" />
            </th>
            <th>ID</th>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% @cart.cart_items.each do |cart_item| %>
          <% product = cart_item.product %>
          <tr>
            <td>
              <%= check_box_tag "ids[]", "#{cart_item.id}", false, id: "cart-item-#{cart_item.id}", class: "select-item"  %>
            </td>
            <td><%= cart_item.id %></td>
            <% if product.image.file.nil? %>
            <td></td>
            <% else %>
            <td>
              <img src="<%= product.image.thumb.url %>" />
            </td>
            <% end %>
            <td><%= link_to product.title, product_url(product) %></td>
            <td><%= product.price %></td>
            <td><%= cart_item.quantity %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
</div>
