<div class="page-header">
  <h1>Your Shipping Addresses</h1>
  <p>
    <%= link_to 'Add Shipping Address', new_user_shipping_address_url %>
  </p>
</div>

<div class="row">
  <% if @shipping_addresses.nil? or @shipping_addresses.size <= 0 %>
  <p>You have no shipping address now!</p>
  <% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address1</th>
        <th>Address2</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Default</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @shipping_addresses.each do |addr| %>
      <tr>
        <td><%= addr.name %></td>
        <td><%= addr.address1 %></td>
        <td><%= addr.address2 %></td>
        <td><%= addr.city %></td>
        <td><%= addr.state %></td>
        <td><%= addr.country %></td>
        <td><%= addr.phone %></td>
        <td><%= addr.default ? 'Yes' : 'No' %></td>
        <td>
          <%= link_to 'Edit', edit_user_shipping_address_url(addr), class: 'btn btn-xs btn-primary' %>
          <%= link_to 'Delete', user_shipping_address_url(addr), method: :delete, data: { confirm: "Do you really want to delete this address?" }, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
