<div class="row">
  <% if @product.id.nil? %>
  <% options = { method: :post, url: create_product_path } %>
  <% else %>
  <% options = { method: :put, url: update_product_path(@product) } %>
  <% end %>
  <% options[:html] = { class: 'product-form' } %>

  <%= form_for(@product, options) do |f| %>
  <% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |msg| %>
  <p class="text-danger"><%= msg %></p>
  <% end %>
  <% end %>
  <div class="form-group">
  	<div class="input-group input-group-sm">
  	  <%= f.label :title, class: 'control-label' %>
  	  <%= f.text_field :title, class: 'form-control', placeholder: 'Enter Title Here' %>
  	</div>
  </div>
  <div class="form-group">
  	<div class="input-group input-group-sm">
  	  <%= f.label :description, class: 'control-label' %>
  	  <%= f.text_area :description, class: 'form-control', placeholder: 'Enter Description Here' %>
  	</div>
  </div>
  <div class="form-group">
  	<div class="input-group input-group-sm">
  	  <%= f.label :price, class: 'control-label' %>
  	  <%= f.number_field :price, in: 0.0..10000.0, step: 0.01, class: 'form-control', placeholder: 'Enter Price Here' %>
  	</div>
  </div>
  <div class="form-group">
  	<div class="input-group input-group-sm">
  	  <%= f.label :inventory, class: 'control-label' %>
  	  <%= f.number_field :inventory, class: 'form-control', placeholder: 'Enter Quantity Here' %>
  	</div>
  </div>
  <div class="form-group">
  	<div class="input-group input-group-sm">
  	  <%= f.label :image, class: 'control-label' %>
  	  <%= f.file_field :image, class: 'form-control' %>
  	</div>
  </div>
  <%= f.hidden_field :image_cache %>

  <%= f.submit 'Add', class: "btn btn-sm btn-primary" %>
  <% end %>
</div>