<div class="row">
  <div class="panel panel-default">
  	<div class="panel-heading">
  		<h3 class="panel-title"><%= @product.title %></h3>
  	</div>
  	<div class="panel-body">
      <% if flash[:notice] %>
        <p class="text-warning"><%= flash[:notice] %></p>
      <% end %>

  	  <% unless @product.image.file.nil? %>
  	  <img src="<%= @product.image.url %>" />
  	  <% end %>
  	  <p>Price: <%= @product.price %></p>
  	  <p>Quantity: <%= @product.inventory %></p>
  	  <p><%= @product.description %></p>
      <%= form_tag(cart_url, method: :post) do %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= submit_tag 'Add To Cart', class: 'btn btn-primary' %>
      <% end %>
  	</div>
  </div>
</div>