<nav class="navbar navbar-default">
  <div class="container-fluid">
  	<div class="collapse navbar-collapse" id="buyer-nav">
  	  <ul class="nav navbar-nav">
        <% if user_signed_in? and current_user.seller? %>
        <li>
          <a href="<%= manage_products_url %>">Products</a>
        </li>
        <li>
          <%= link_to 'Orders', manage_orders_url %>
        </li>
        <% else %>
        <li class="active">
          <a href="<%= products_url %>">Products</a>
        </li>
        <% end %>
  	  </ul>
  	  <ul class="nav navbar-nav navbar-right">
  	  	<% if user_signed_in? %>
  	  	<li class="dropdown">
  	  	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  	  	  	<%= current_user.name %> <span class="caret"></span>
  	  	  </a>
  	  	  <ul class="dropdown-menu">
            <li><%= link_to 'Cart', cart_url %></li>
            <li><%= link_to 'Shipping Addresses', user_shipping_addresses_url %></li>
            <li><%= link_to 'Orders', orders_url %></li>
  	  	  	<li><%= link_to 'Edit Profile', edit_user_registration_url %></li>
  	  	  	<li><%= link_to 'Logout', destroy_user_session_url, method: :delete %></li>
  	  	  </ul>
  	  	</li>
  	  	<% else %>
  	  	<li><a href="<%= new_user_session_url %>">Sign In</a></li>
  	  	<li><a href="<%= new_user_registration_url %>">Sign Up</a></li>
  	  	<% end %>
  	  </ul>
  	</div>
  </div>
</nav>